a {
  text-decoration: none;
  color: blue;
}

#wrapper {
    max-width: 860px;
    margin: 0 auto;
    
    padding: 0.5%; 
    
}

#coco {
    text-align: center;
    margin: 0;
}

header {
    background-color: greenyellow;
    float: left;
    margin: 0 0 30px 0;
    padding: 5px 0 0 0;
    width: 100%;
}

h1,h2 {
    color: white;
    font-family: 'Poiret One', cursive;
    margin: 15px 0;
}

nav {
    color: green;
    text-align: center;
    padding: 10px 0;
    margin: 20px 0 0;
    
}

nav ul {
    list-style: none;
    padding: 10px 0;
    margin: 0 10px;
}

nav a,nav a:visited {
    color: aqua;
}

nav a .cat,nav a:hover {
    color: green;
}

body {
    background-color: white;
    font-family: 'Pioret One',cursive;
}

h2 {
    font-size: 1em;
    margin: -5px 0 0;
    
}

footer {
    font-size: 0.75em;
    text-align: center;
    padding-top: 50px;
    clear: both;
}

.social-media-icon {
    width: 40px;
    height: 40px;
    margin: 0.5px;
}

#gaurdians{
  margin: 0;
  padding: 0;    
  list-style: none;  
}

#gaurdians li {
    float: left;
    width: 45%;
    margin: 2.5%;
    
    background-color: lightslategray;
    color: orange;
}

img {
    max-width: 100%;
}

#guardians li a p {
    margin: 0;
    padding : 5%;
    font-size: .75em;
    color: red;
    background-color: black;
}

nav li {
    display: inline-block;
}

nav a {
   font-weight: 800;
   padding: 15px 10px;
}



.contact-info {
 display: block;
 min-height: 20px;
 background-repeat: no-repeat;
 background-size: 20px 20px;
 padding: 0 0 0 30px;
 margin: 0 0 0 10px;
}

.contact-info{
    list-style: none;
    padding: 0;
    margin: 0;
}

.contact-info li.mail a {
 background-image: url('../img/mail.jpg');
 
 background-image: url('../img/facebook.png');  
 
}


@media screen and (min-width: 480) {
    #primary {
        width: 50%;
        float: left;
    }
        #secondary {
         width: 40%;
         float: left;
        }   
     
      
    


#guardians li {
  width: 28.3333%;  
}

#guardians li:nth-child(4n){
    clear:left;
}

}

#app {
    text-align: center;
}

h3 {
    background: red;
}

body {
    background-size: 100%;
}

h3 {
    padding: 100px;
    margin-bottom: 50px;
}